{% extends "layout.html" %}
{% block content %}
<div class="article-reading-container">
  <div class="card border-0 shadow-none">
    {% if article.image %}
    <img src="{{ url_for('static', filename='uploads/' ~ article.image) }}" class="article-banner card-img-top" alt="Banner">
    {% endif %}
    <div class="card-body px-0">
      <h2 class="card-title">{{ article.title }}</h2>
      <div class="mb-3">
        <small class="text-muted">
          {{ article.local_created_at.strftime('%b %d, %Y %H:%M') }} &mdash; {{ article.author.name|e }}
        </small>
      </div>
      <div class="article-content">{{ article.rendered_content|safe }}</div>
    </div>
  </div>
</div>
{% endblock %}
